<footer>
	<div class="container">
        <div class="row">
    		<div class="col-5">
        		<p>
        			{{site.description}}
    			</p>
    		</div>
    		<div class="col-3">
    			<p>Copyright © <script> document.write(new Date().getFullYear()); </script> Marco Afonso. All rights reserved.</p>
        		<ul class="footer-links">
        			<li><a href="/sitemap.xml">Sitemap</a></li>
        			<li><a href="/privacy-policy">Privacy Policy</a></li>
        			<li><a href="/about">About</a></li>
        		</ul>
        		<ul>
        			<li>{{site.email}}</li>
        			<li>{{site.phone}}</li>
        		</ul>
    		</div>
        </div>
	</div>
</footer>
<script src="/assets/js/main.js"></script>
