<header>
	<div class= "container">
		<div class="header-logo">
			<a href="/"><img src="/assets/svg/logo.svg" alt="Marco Afonso">
			<p>Marco Afonso</p></a>
		</div>
		<img class="open-menu-button" src="/assets/svg/open-menu-button.svg" alt="Open Menu" onclick="toggleMenu()">
		<ul class="header-menu">
			<li><a href="{{ site.facebook      }}">Facebook  </a></li>
			<li><a href="{{ site.linkedin      }}">Linked In </a></li>
			<li><a href="{{ site.behance       }}">Behance   </a></li>
			<li><a href="mailto: {{ site.email }}">Email     </a></li>
		</ul>
    </div>
</header>
