<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }} - {{ page.title }}</title>

    <meta name="keywords" content="Marco, Afonso, Design, Portfolio, Graphic Design, Illustrator, Drawing, Programming" />
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/120_APPLE.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/152_APPLE.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/180_APPLE.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/16.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon/64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/assets/favicon/128.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/assets/favicon/196.png">
    <link rel="manifest" href="/assets/manifest.json">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Page CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139263554-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139263554-1');
    </script>
</head>