$default-font: 'Open Sans';
$brand-font: 'MarkSans';
$brand-white: #FFF2E3;
$brand-blue: #172633;
$brand-light-blue: #3C6567;
$brand-green: #6E9380;
$brand-light-green: #B2C6A3;

$text-body-color: mix($brand-light-blue, $brand-white, 75%);




@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  	font-family: 'MarkSans';
	src: 
		url('../fonts/marksans.woff2') format('woff2'),
       	url('../fonts/marksans.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;

}

html{
	font-family: $default-font;
	font-size: 14px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
	background-color: $brand-green;
}

*{
	color: $brand-light-blue;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
svg{
	box-sizing: border-box !important;
}