footer{
	background-color: $brand-blue;
	padding: 50px 0;
	p{
		color: $brand-white;
	}
	ul{
		display: inline-block;
		li{
			display: inline-block;
			margin: 5px 0;
			margin-right: 10px;
		}
	}
	ul.footer-links{
		a{
				color: $brand-green;
		}
	}
}