

header {
	position:relative;
	z-index: 1000;
	background-color: $brand-light-blue;
	height: 100px;
	div ul li a{
		line-height: 1.2em;
		color: $brand-light-green;
		&:hover{
			color: $brand-light-green;
		}
	}
	@media #{ $responsive-sm } /*IN HEADER MENU*/ {
		.open-menu-button{display: none;}
		ul{
		display: block;
		opacity: 1;
		line-height: 100px;
		float: right;
			li{
				padding-left: 20px;
				font-family: $brand-font;
				text-transform: uppercase;
				display: inline-block;
			}
		}
	}
	@media #{ $responsive-up-to-sm } /*IN DROPDOWN MENU*/ {
		.open-menu-button{
			display: block;
			float: right;
			height: 100px;
			width: 60px;
			padding: 20px;
		}
		ul{
			
			position: absolute;
			top: 101px;
			left: 0;
			width: 100vw;
			background-color: $brand-light-blue;
			padding: 13px;
			z-index: -100;
			display: none;
			&.opened{
				display: block !important;
			}

			

			li{
				text-align: center;
				height: 40px;
				padding: 13px;
				font-family: $brand-font;
				text-transform: uppercase;
				display: block;
			}
		}
	}

		
	.header-logo{
		float: left;
		height: 100px;
		padding: 10px 0;
		width: auto;
		a:hover{
			text-decoration: none;
		}
		img{
			position: relative;
			left: -5px;
			height: 65px;
			margin-top: 15px;
			display: inline-block;
		}
		p{
			font-family: $brand-font;
			text-transform: uppercase;
			display: inline-block;
			position: relative;
			bottom: 35px;
			font-size: inherit;
			color: $brand-white;

		}
	}
	@media #{ $responsive-up-to-xxs } /*ADJUSTMENTS IN SMALLEST WIDTH*/ {
		.header-logo{
			img{
				display: none;
			}
			p{
				top: 33px;
				left: 10px;
				width: auto;
				font-size: inherit;
			}
		}
	}
}


