.page-body{
	background-color: $brand-white;
	min-height: calc(100vh - 100px);

}
footer, .page-body {padding: 50px 20px;}

.page-frame{
	height: 100vh;

}

a{
	color: $brand-blue;
	&:hover{
		text-decoration: underline; 
		color: $brand-green;
	}
}

p, .page-body ul{
	padding: 0.4em 0;
	font-size: 13px;
	line-height: 1.3em;
	color: $text-body-color;
}
.page-body ul li {
	margin-bottom: 0.8em;
	margin-left:1.5em;
	list-style: circle;
	color: inherit;
	&:last-child{margin-bottom: 0;}
}

h1, h2, h3, h4{ 
	font-family: $brand-font; 
	text-transform: uppercase;
	line-height: 1.1em;
	padding: 0.6em 0 0.2em;
	margin: 10px 0 5px;
}


h1{ font-size: 28px;  color: $brand-green;			}
h2{	font-size: 24px;  color: $brand-light-green;	}
h3{	font-size: 20px; 								}
h4{	font-size: 16px; 								}
